html,body{
  background-color:#E4E9BE;
  width:100%;
  height:100%;
  padding:0;
  margin: 0;
  overflow-x: hidden;


}


.container-fluid{
  padding: 3% 10%;
  background-color:#E4E9BE;
  margin:0;
  color:#000


}
  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;

  }





/* Navigation Bar*/


.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;


}
.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding:0 18px;
}

.title-img{
  text-align:center;
  padding: 0 25% 10% 0;
  margin:0;


  }



.logo-img{
  height:15rem;
  width:33rem;



}



/* Download Buttons*/

.download-button{
  margin:5% 3% 5% 0;
}

/* feature*/

.feature-container{
  font-family:"Montserrat-bold san-serif";
  background-color:#fff;
  color:#000;
  margin:0;
  padding:3.5% 0;
  text-align:center;
}

/* Profile*/
.profile-container{
  text-align: center;
}

.profile{
  border-radius: 20%;
  padding:5%;
}

h2{
padding-top:5%;
}
.pricing{
  text-align:center;
  padding:0 5% 5%;
}

.plans{
  padding-top:5%;
}

.end-page{
  text-align: center;
  padding:1% 0 1%;
}

footer{
  text-align:center;
}
