html,body{
  width:100%;
  height:100%;
  padding:0;
  margin: 0;
  overflow-x: hidden;


}


body{
  font-family: 'Montserrat', sans-serif;
  text-align:center;

}


.container-fluid{
  padding: 7% 15%;




}
  h1,h2,h3,h4,h5,h6{
    font-family:"Montserrat san-serif";
    font-weight:900;
  }


/* Heading Section*/

.big-heading{
  font-family:"Montserrat, san-serif";
  font-weight:900;
  line-height:1.5;
  font-size:3.5rem;
}

.section-heading{
  font-size:3rem;
  line-height:1.5;
}


/* Background-color*/


.color-section{
  background-color:#B8F1B0;
  color:#000;
}
.white-section{
  background-color:#fff;

}


/* Title Section*/

.title-container .container-fluid{
  text-align: left;
  padding:3% 15% 7%;
}

@media (max-width:390px){

  .big-heading{
    font-size:2rem;

  }

  .row .small-container{
    font-family:"Montserrat, san-serif";
    font-weight:900;
    line-height:1;
    padding-bottom:2%;
    width:50%;

}

  }




.title-img{
  text-align:right;
  padding: 0;
  }

.logo-img{
  width: 25.5rem;
  height: 15.5rem;
  }
@media (max-width:390px){
  .logo-img{
    width: 20rem;
    height: 8rem;
    position:relative;
    right:40%;

      }
      .title-img{
        text-align:right;
        right:5rem;
        width:50%;

        }


    }



.testimonial-img{
    width:10%;
    border-radius:100%;
    margin:20px;
  }


.test-border{
  border-radius:100%;

}
/* Navigation Bar*/


.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;


}
.navbar{
  padding:0 0 4.5rem;
}

@media (max-width:390px){
      .navbar{
      padding-bottom: 2rem;
}

.nav-item{
  padding:0 18px;

}

.navbar-brand{
  font-size:2rem;
}
}

.nav-item{
  padding:0 18px;

}




/* Download Buttons*/

.download-button{
  margin:5% 3% 5% 0;
}
@media (max-width:390px){
.download-button{
  font-size:1rem;
}
}
/*Testimonials*/

.test-sec{
 background-color:#fff;

}

.testimonial-text{
  font-size:3rem;
  line-height: 1.5;
}

/* feature*/

.feature-container{
  font-family:"Montserrat-bold san-serif";
  background-color:#fff;
  color:#000;
  margin:0;
  padding:3.5% 0;
  text-align:center;
}

/* Profile*/
.profile-container{
  text-align: center;
  padding:3%;

}
.profile-heading{
  margin:0;
  padding:1% 15% 0;
}

.profile-paragraph{

  margin:0;
}
.profile{
  border-radius: 3%;
  width:40%;
  height:40%;
}

@media (max-width:390px){
  .profile{
    border-radius: 3%;
    width:80%;
    height:80%;
  }
}

/* Price Section*/
.price-section {
  padding:100px
}

@media (max-width:390px){
  .price-section {
    padding:60px
  }
}
.price-column{
  padding: 3% 2%;
}

.price-text{
  font-size:3rem;
}
/*Footer Section*/
.footer-img{
  padding:0 2%
}

/* Call to action*/

.cta-button:hover{
background-color:#000;

}
footer{
  text-align:center;
}
